@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blurEffect {
    @apply bg-[#0021332c] backdrop-blur-md;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 20vh;
    background: #002133;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 20vh;
    background: #004351;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4a8b65;
  }
}
